$bg-color: pink;
$light-brown: rgb(227,184,115);

@font-face {
    font-family: FuturaBookC;
    src: url(/fonts/futurabookc.otf);
}

@font-face {
    font-family: ProximaNova;
    src: url(/fonts/ofont.ru_Proxima-Nova.ttf);
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}














body {
    background: white;
    height: 100%;
    width: 100%;
    font-family: FuturaBookC;
}

header {
    main {
        position: relative;
        display: flex;
        width: 100%;
        height: 707px;
        background-image: url(/img/header-main-bg.png);
        background-size: cover;
        align-items: center;
        

        aside {
                height: 100%;
                width: 82px;
                background-color: #000;

                .aside-vertical-text {
                    transform: rotate(90deg);
                    text-align: center;
                    color: $light-brown;
                    font-size: 14px;
                    line-height: 16px;
                    margin-top: 400%;
                }

                @media screen and (max-width: 1350px) {
                    display: none;
                }
            }

            @media screen and (max-width: 1350px) {
                justify-content: center;
                height: 500px;
            }

            .scroll-down {
                background-color: #000;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: space-around;
                top: calc(100% - calc(97px / 2));
                height: 97px;
                width: 247px;
                font-size: 14px;
                line-height: 19px;
                color: white;
                transition: background 0.5s ease-in-out;

                &:hover {
                    background-color: $light-brown;
                }

                @media screen and (max-width: 1350px) {
                    display: none;
                }
            }
        }

        .main-text {
            margin-left: 5%;
            color: white;
            display: flex;
            flex-direction: column;

            .header {
                font-size: 40px;
                line-height: 53px;
                font-family: 'Yeseva One', cursive;

                span {
                    color: $light-brown;
                }

            }

            .main-text-btn-wrapper {
                margin-top: 41px; 
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                align-content: center;

                .button {
                    @media screen and (max-width: 1350px) {
                        width: 100%;
                        margin-bottom: 30px;
                    }
                    border-radius: 2px;
                    color:white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    font-size: 13px;
                    line-height: 15px;
                    text-align: center;
                    background-color: $light-brown;
                    transition: background 0.5s ease-in-out;

                    &:hover {
                        background: rgba($color: #000000, $alpha: 0);
                        border: 1px solid white;
                    }  
                }
                .button-two {
                    border: 1px solid white;
                    background-color: rgba($color: #000000, $alpha: 0);
                    transition: background 0.5s ease-in-out;

                    &:hover {
                        background: $light-brown;
                        border: none;
                    }  
                }

                
            }

            .promo-text {
                font-size: 22px;
                line-height: 30px;
            }
        }
    }


.header-nav {
    height: 82px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    transition: background 0.5s ease-in-out;
    
    .nav-item-wrapper {
        display: flex;

        div {
            padding:0 4%;
        }

        @media screen and (max-width:1200px) {
            display: none;

        }
    }

    .bar {
        fill: white;
    }

    .nav-phone {
        color: $light-brown;
    }

    .nav-logo {
        color: $light-brown;
    }

    .nav-item:hover {
        color: $light-brown;
    }

    button {
        border: none;
        color: white;
        height: 50px;
         width: 200px;
        background-color: $light-brown;
        border: none;
        transition: background 0.5s ease-in-out;

        &:hover {
            background: darken($light-brown, 10%)
        }
    }
}

.completed-projects {
    width: 100%;
    height: 700px;
    background: #000;
    @media screen and (max-width: 1350px) {
        height: 1100px;
    }

    .information-text-controls {
        @media screen and (max-width: 1350px) {
            display: none;
        } 
    }

    .completed-projects-nav {
    padding: 35px 0 35px 0;
    margin-left: 50%;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    @media screen and (max-width: 1350px) {
        display: none;
    }   
        .nav-item {
            padding: 0 10px 0 0;
        }

        a {
            text-decoration: none;
            color: $light-brown;
            &:hover {
                text-decoration: underline;
            }
        }

    }

    .promo-text {
    font-size: 27px;
    line-height: 37px;
    color: $light-brown;
    @media screen and (max-width: 1350px) {
        text-align: center;
        margin-top: 36px;
    }
    }
}



.completed-projects-main {
    width: 100%;
    display: flex;
    justify-content: space-around; //TODO
    flex-wrap: wrap;

    @media screen and (max-width: 1350px) {
        justify-content: center;
    }

}

.text-area {

    color: white;
    margin-left: 5%;
    width: 440px;

    .promo-text {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    margin-bottom: 20px;
    } 
}



    .intro-text {
    font-size: 18px;
    line-height: 29px;
    @media screen and (max-width: 1350px) {
        text-align: center;
        margin-bottom: 36px;
    }
    }

    .information-text-short-info {
        display: flex;
        flex-wrap: wrap;
        width: 440px;

        .information-text-cell {
            width: 150px;
            padding: 30px 0;
        }

        @media screen and (max-width: 1350px) {
            display: none;
        }

        

        .head {
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: $light-brown;
        padding-bottom: 10px;
        }
    }

    .information-text-short-info-mobile {
        display: none;
        @media screen and (max-width: 1350px) {
            color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            width: 440px;
            .information-text-cell {
                width: 150px;
                padding: 30px 0;
            }
            .head {
                font-family: Yeseva One;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                text-transform: uppercase;
                color: $light-brown;
                padding-bottom: 10px;
            }
        }
    }



    .slider {
        position: relative;

        .control-left {
            display: none;
            @media screen and (max-width: 1350px) {
                display: block;
                position: absolute;
                top: calc((100% / 2) - 18px);
                right: 80%;
            }
            &:hover {
                cursor: pointer;
            }

            
        }

        .control-right {
            display: none;
            @media screen and (max-width: 1350px) {
                display: block;
                position: absolute;
                top: calc((100% / 2) - 18px);
                left: 80%;
            }
            &:hover {
                cursor: pointer;
            }
        }

        .main-slider-img {
            width:80%;
            height: 100%;
        }

        @media screen and (max-width: 1350px) {
            .second-slider-img {
                display: none;
            }
            width: 100%;
            display: flex;
            justify-content: center;
            
        }
    }

.top-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    height: 50px;
    width: 200px;
    background-color: $light-brown;
    border: none;
    transition: background 0.5s ease-in-out;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    &:hover {
    background: darken($light-brown, 10%);
    }

}

.head-text {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 13px;
    text-transform: uppercase;
}

.section-white {
    height: 3000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    .online-control {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @media screen and (max-width: 1100px) {
            background: black;
            color: white ;
        }
        .wrapper-checkbox {
            display: flex;
            justify-content: center;
            margin: 20px 0;
            @media screen and (max-width: 1100px) {
                padding-bottom: 50px;
                
            }
        }
        
        .submit {
            @media screen and (max-width: 1100px) {
                width: 700px;
                position: absolute;
                top: calc(100% - 25px);
                
            }
        }
    }

    .online-control-info {
        text-align: center;
        
        
        margin-bottom: 92px;
        margin-top: 35px;
        line-height: 34px;
        font-size: 20px;
    }
    

    .form {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1100px) {
            flex-direction: column;

            input {
                background: black;
                margin-bottom: 30px;
                width: 100%;
                
            }

            .input-wrapper {
                width: 70%;
            }

            .wrapper {
                display: none;
            }
        }

        input {
            border-top: none;
            border-bottom: 1px solid white;
            border-left: none;
            border-right: none;
            margin-right: 10px;

        }
        
        

        .submit {
            height: 50px;
            width: 200px;
            background-color: $light-brown;
            border: none;
            transition: background 0.5s ease-in-out;

            @media screen and (max-width: 1100px) {
                width: 80%;
                position: absolute;
                top: calc(100% - 25px);
                
            }

            &:hover {
                background: darken($light-brown, 10%)
            }
        }
    }
}

.centered {
    text-align: center;
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 25px;
}

.types-of-repair {
    margin-top: 100px;
    width: 100%;

    .icon {
        margin-bottom: 20px;
    }
}



.card {
    position: relative;
    height: 608px;
    @media screen and (max-width: 1200px) {
            margin-bottom: 50px;
    }
        
    
}

.card-text {
    position: absolute;
    top: 50%;
    left: 8%;
    background-color: white;
    height: 286px;
    width: 330px;
    box-shadow: 10px 10px 34px -22px rgba(0,0,0,0.75);

    .card-text-body {
        margin: 25px 0 0 31px;
    }

    .card-head-text {
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        @media screen and (max-width: 1200px) {
            color: black;
        }
    }

    li {
        font-family: FuturaBookC;
        font-size: 15px;
        line-height: 25px;

        color: #959595;

    }

    .button {
        position: absolute;
        top: calc(100% - 25px);
    }
}

.img-plus-form {
    display: flex;
    align-items: center;
    height: 725px;
    width: 100%;
    justify-content: space-between;

    @media only screen and (max-width: 1200px) {
        display: none;
    }
    
}
.request-form {
    display: flex;
    flex-direction: column;
    width:100%;
    height:506px;
    background-color: #000;
    color: white;
    margin-right: 50px;
    position: relative;
    button {
        position: absolute;
        top: calc(100% - 70px);
        left:50%;

    }

    .form-body {
        margin-left: 49px;
        
    }

    p {
        margin: 10px 0;
    }

    .request-form-input {
        
        color:white;
        border: none;
        border-bottom: 1px solid grey;
        background: none;
        margin-bottom: 40px;
        width: 80%;

        
    }

    
}

.fantasies {
    @media screen and (max-width: 1200px) {
        padding-top: 60px;
        height: 600px;
    }
    font-family: ProximaNova;
    width: 100%;
    height: 864px;
    background-image: url(/img/fantasies-bg.png);
    background-size: cover;
    color: white;

    .head-text {
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 37px;
        color: $light-brown;
    }

    ul li {
        margin-top: 25px;
    }

    ul li:hover {
        color: $light-brown;
        text-decoration: underline;
        cursor: pointer;

    }

    ul :first-child {
        font-size: 20px;
        line-height: 34px;
        color: $light-brown;
        text-decoration: underline;
    }

    

    .wrapper-fantasies {
        display: flex;
        align-items: center;
        justify-content: space-around;
        @media screen and (max-width: 1200px) {
            flex-direction: column;
            justify-content: center;

            .head-text {
                text-align: center;
            }
        }

        .wrapper-fantasies-list {
            display: flex;
            flex-direction: column;
            width:40%;
            @media screen and (max-width: 1200px) {
                .fantasies-list {display: none;}
            }
           
        }

    }

    .wrapper-col {
        height: 950px;
    }

    .slider {
        display: none;
        .slider-item {
            width: 70%;
        }
        @media screen and (max-width: 1200px) {
            display: flex;
            justify-content: center;

        }
        .control-left {
            display: none;
            @media screen and (max-width: 1350px) {
                display: block;
                position: absolute;
                top: calc((100% / 2) - 18px);
                right: 80%;
            }
            &:hover {
                cursor: pointer;
            }

            
        }

        .control-right {
            display: none;
            @media screen and (max-width: 1350px) {
                display: block;
                position: absolute;
                top: calc((100% / 2) - 18px);
                left: 80%;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }

    .wrapper-images {
        @media screen and (max-width: 1200px) {
            display: none;
        }
        width: 40%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .first {
            position: absolute;
            bottom: 450px;
        }
        .second {
            position: absolute;
            top: 550px;
            
        }
        .third {
            position: absolute;
            bottom: 800px;
            
        }
        .fourth {
            margin-top: 70px ;

        }
        .wrapper-fantasies-list {
            display: none;
        }
        
    }
}

.design-project {
    width: 100%;
    height: 700px;
    background: white;
    @media screen and (max-width: 1200px) {
        height: 1700px;
        background: black;
        color: white;
    }

    @media screen and (max-width: 784px) {
        height: 2400px;
    }

    .wrapper-col {
        padding-top: 110px;
    }

    .card-text-one {
       height: 210px;
    }

    .card-text-three {
        height: 380px;
    }

}

.design-project-preview {
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 40px;
}

.card-text-sec-2-card-3 {
    position: absolute;
    top: 50%;
    left: 8%;
    
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 20px;
    background-color: white;
    height: 414px;
    width: 330px;
    box-shadow: 10px 10px 34px -22px rgba(0,0,0,0.75);

    li {
        padding: 5px;
        color: grey;
    }

    .button {
        position: absolute;
        top: calc(100% - 25px);
    }

}

.how-we-are-working {
    @media screen and (max-width: 1200px) {
        display: none;
    }
    width: 100%;
    height: 1100px;
    background-color: #000;
    display: flex;
    justify-content: space-around;;

    .wrapper-col {
        
    }

    .p-hwaw {
        font-family: FuturaDemiC;
        font-size: 15px;
        line-height: 21px;
        text-transform: uppercase;
    }

    .six-steps {
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 37px;
        text-transform: uppercase;
        margin-bottom: 92px;
        color: #E3B873;
    }

    .main-text-head {
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 23px;
        text-transform: uppercase;
        margin-bottom: 16px;

        color: #E3B873;
    }

    .one-six {
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        margin-bottom: 22px;
    }

    .main-text {
        font-family: FuturaBookC;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 61px;
    }
    

    .wrapper-hwaw {
        width: 100%;
        padding: 420px 0 0 0;
        color: white;
        display: flex;
        justify-content: space-around;
        
        
    }

    .wrapper-cells {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        .cell {

            .cell-num {
                font-family: Yeseva One;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 21px;
                text-transform: uppercase;
                text-decoration: underline;
                text-decoration-color: $light-brown;
                transition: .2s linear;

                color: darken(#FFFFFF, 50%);
            }

            width: 200px;
            height: 60px;
            margin-bottom: 40px;
            color: darken(#FFFFFF, 50%);

            transition: .2s linear;
            &:hover {
                color: #FFFFFF;
                cursor: pointer;
                .cell-num {
                    color: #FFFFFF;
                }
            }
        }
    }
}

.centered-p {
    text-align: center;
}

.wrapper-cells-img {
    display: flex;
    flex-direction: column;
    width: 765px;

    img {
        
        height: 367px;
    }
}


.our-team {
    width: 100%;
    background: white;
    @media screen and (max-width:850px) {
        background: black;
        color: white;
    }
    .head-text {
        margin-top: 20px;
    }

    .our-team-text {
        font-family: FuturaBookC;
        font-size: 20px;
        line-height: 34px;
        text-align: center;
        margin-bottom: 90px;
    }

    .stick {
        margin-top: 20px;
    }

    .our-team-intro {
        margin-bottom: 70px;
        margin-top: 25px;
        text-align :center;
    }

    .wrapper-cards {
        padding-bottom: 100px;
        @media screen and (max-width:850px) {
            padding: 0;
            .wrapper-col {
                background: black;
            }
            width: 200px;
            .card-our-team {
                margin-bottom: 150px;
            }
        }
    }
    .card-our-team {
        position: relative;
        
    
        .icon-our-team {
            position: absolute;
            bottom: calc(100% - 55px);
            right:  calc(100% - 55px);
    
        }
    }

    .card-our-team-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 80%;
        background: white;
        height: 136px;
        top: calc(100% - calc(136px / 2));
        left: 10%;

        button {
            width: 100%;
            border: none;
            height: 45px;
            background: $light-brown;
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;

            color: #FFFFFF;
            
        }

        .name {
            margin-top: 10px;
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
        }

        .work {
            font-family: FuturaBookC;
            font-size: 18px;
            line-height: 26px;
            text-align: center;

            color: #959595;
        }
    }
}


.our-clients {
    width: 100%;
    background: white;
    @media screen and (max-width: 845px) {
        display: none;
    }
    .intro-text {
        margin-bottom: 50px;;
    }

    .card-clients {
        position: relative;
        width: 340px;
        height: 428px;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
        background: #FFFFFF;
        box-shadow: 0px 0px 31px -10px rgba(0,0,0,0.75);
        @media screen and (max-width: 1036px) {
            margin-bottom: 70px;
        }
        .wrap {
            display: flex;
            align-items: center;
            margin: 15px;
        }

        .name {
            margin-left: 20px;
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;

            color: #181818;
        }

        .comment {
            margin: 10px;
            font-family: FuturaBookC;
            font-size: 15px;
            line-height: 27px;
            color: #959595;
        }

        .card-footer {
            position: absolute;
            display: flex;
            background-color: $light-brown;
            width: 80%;
            height: 54px;
            top: calc(100% - 27px);
            color: white;
            box-shadow: 0px 0px 13px 0px $light-brown;

            
            .wrapper {
                
                width: 50%;
                &:first-child {
                    border-right: 1px solid white;
                    
                }
            }
        }
    }
}


.questions {
    @media screen and (max-width: 845px) {
        width: 100%;
        height: 600px;
        margin: 0;
    }
    width: 70%;
    display: flex;
    justify-content: center;

    .wrapper {
        width: 80%;
        @media screen and (max-width: 845px) {
            flex-direction:column ;
        }
    }

    .wrapper-col {
        @media screen and (max-width: 845px) {
            width: 100%;
        }
    }

    .head-text {
        padding: 20px;
    }

    .button {
        @media screen and (max-width: 845px) {
            width: 75%;
        }
    }


    height: 500px;
    margin: 100px 0;
    background-color: black;
    //margin: 100px auto;
    color: white;

    .input-wrapper {
        margin: 10px;
        padding-bottom: 50px;
        width: 100%;

        input {
            width: 100%;
            color: white;
            background-color: black;
            border: none;
            border-bottom: 1px solid grey;
            height: 40px;
            @media screen and (max-width: 845px) {
                width: 100%;
            }
        }
    }

    .wrapper-checkbox {
        @media screen and (max-width: 845px) {}
    }

    .question {
        width: 80%;
    }

    button {
        margin-top: 40px;
        color: white;
        text-transform: uppercase;
    }
}

.map {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(/img/map-bg.png);
    @media screen and (max-width: 845px) {
        background: black;
    }
    .head-text {
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;


        text-align: center;
        text-transform: uppercase;


        color: $light-brown;
        text-align: center;
        @media screen and (max-width: 845px) {
            order: 2;
        }
    }

    .wrapper {
        width: 80%;
        img {
            width: 100%;
        }
    }

    .icons {
        img {
            margin: 10px;
            height: 5%;
        }
        @media screen and (max-width: 845px) {
            order: 3;
            margin-bottom: 20px;
            cursor: pointer;
        }
        
    }
}

.footer {
    @media screen and (max-width: 845px) {
        display: none;
    }
}









































.wrapper-checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-cards {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wrapper-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


  



